/* for all */
* {
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

/* body itself*/
body {
    background-color: #f6f6f6 !important;
    overflow: scroll;
}

.footer {
    background-color: #ffffff;
    margin-top: 15px;
    color: #8b8b8b;
    width: 100%;
    box-shadow: 2px 2px 7px #e2e2e2;
}

/* Create three unequal columns that floats next to each other */
.column {
    text-align: center;
    float: left;
    padding: 10px;
}

.col-3 {
    width: 33%;
    margin-top: 10px;
}

.col-small {
    width: 40%;
}

.col-big {
    width: 60%;
}

/* footer buttons */
.footer-button {
    background-color: #fff;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #e7ece7;
    transition: 0.5s;
    /* for hover purposes */
    position: relative;
    display: inline-block;
    border: 1px solid #d2d2d2;
}

.footer-button:hover {
    background-color: #c26868;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    color: #e0e0e0;
    border: 1px solid #e7ece7;
    transition: 0.5s;
}

.footer-button-dropdown {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width: 250px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #d1d6ce;
    color: #afb4ae;
    transition: 0.5s;
}

.footer-buttons {
    position: absolute;
    margin-top: 50px;
    background-color: #e7ece7;
    transition: 0.5s;
    width: 70px;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #cbcbcb;
}

.footer-buttons .footer-rows {
    display: none;
}

.footer-buttons:hover {
    background-color: #e8e8e8;
    transition: 0.5s;
    width: 150px;
    margin-left: 20px;
    border: 1px solid #cbcbcb;
    margin-bottom: 0;
}

.footer-buttons:hover .footer-rows {
    display: block;
    margin: 10px;
}

.footer-info {
    text-align: center;
    display: block;
}

.footer-button:hover .footer-button-dropdown {
    display: block;
    transition: 0.5s;
    text-align: center;
}

.footer-button:hover .footer-info {
    display: none;
}

/* map object*/
.map {
    margin: 10px;
    border-radius: 15px;
}

/* image of restaurant */
.restaurant-img {
    background: #e5e5e5 no-repeat 50% 50%;
    max-width: 90%;
    max-height: 80%;
    border-radius: 30px;
    padding: 15px;
    margin: auto;
    display: block;
}

/* container of buttons and title */
.container-unstyled {
    margin-top: 25px;
    white-space: nowrap;
}

/* on smaller screen we have a dropdown
 and on bigger, navigation buttons*/
.dropdown, .navigation {
    float: right;
    margin-right: 50px;
}

/* navigation signs and links */
.emoji, .emoji-text, #phone {
    color: #222322;
    text-align: center;
}

/* emojis of navigation options on bigger screens*/
.emoji {
    text-align: center;
    font-size: 20px;
    padding: 7px;
}

/* text under buttons */
.emoji-text {
    text-align: center;
}

/*!* restaurant image holder on main content*!*/
/*.restaurant-img-holder {*/
/*    background-color: #e5e5e5;*/
/*    border-radius: 8px;*/
/*    padding: 15px;*/
/*    margin: 15px;*/
/*}*/

/* white header with logos */
#header-nav {
    background-color: #ffffff;
    height: 150px;
    box-shadow: 2px 2px 7px #e2e2e2;
}

/* logo image */
#logo-img {
    background: url("images/logo-img.png") no-repeat;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: -15px;
    transition: all 0.5s;
}

#logo-img:hover {
    opacity: 0.8;
    transition: all 0.5s;
}

/* title of restaurant */
#rest-text {
    /*font-family: 'Lora', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
    text-shadow: 1px 1px 1px #616161;
    color: #547666;
    float: left;
    font-weight: bolder;
    font-size: 25px;
    transition: all 0.5s;
    white-space: nowrap;
}

#rest-text:hover {
    color: #6b8e7b;
    text-shadow: 1px 1px 1px #616161;
    transition: all 0.5s;
}

/* certification text under title */
#certified-text {
    /*font-family: 'Lora', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
    color: #547666;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px;
    transition: all 0.5s;
}

#certified-text:hover {
    color: #789584;
    text-shadow: 1px 1px 1px #616161;
    transition: all 0.5s;
}

/* phone call button */
#phone a {
    color: #222322;
    transition: 0.3s;

}

#phone:hover a {
    color: white;
    background: #7a9e8d;
    transition: 0.3s;
    border-radius: 5px;
}

@media (max-width: 660px) {
    #rest-text, #certified-text {
        display: none;
    }
}

@media (max-width: 228px) {
    #logo-img {
        display: none;
    }
}

/* minimal size */
@media (max-width: 479px) {
    #rest-text {
        /*font-family: 'Lora', sans-serif;*/
        font-family: 'Oxygen', sans-serif;
        text-shadow: 1px 1px 1px #616161;
        color: #547666;
        font-weight: bolder;
        font-size: 25px;
        margin-top: 32px;
        transition: all 0.5s;
    }
}

/* big screen to not contain the navigation dropdown */
@media (min-width: 835px) {
    .dropdown {
        display: none;
    }

    .call-us-header {
        display: none;
    }
}

@media (max-width: 834px) {

    .call-us-header {
        background-color: #8193a2;
        margin: 10px auto auto;
        font-size: 20px;
        width: 300px;
        color: #d4d4d4;
        border-radius: 20px;
        text-align: center;
        display: block;
        padding: 5px;
        transition: 0.2s;
    }

    .call-us-header:hover {
        background-color: #1879cb;
        transition: 0.2s;
    }

    .call-us-header a {
        color: #d4d4d4;
        font-size: 18px;
    }

    .call-us-header a:hover {
        color: white;
        text-decoration: none;
    }

    .navigation {
        display: none;
    }

    /* Style The Dropdown Button */
    .dropbtn {
        padding: 7px 12px;
        border-radius: 10px;
        background-color: white;
        color: #7a9e8d;
        margin-top: 15px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        transition: 0.5s;
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 120px;
        box-shadow: 5px 8px 16px 5px rgba(212, 212, 212, 0.2);
        z-index: 1;
        border-radius: 5px;
        right: 0;
        border: 1px solid #eaeaea;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;

    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        transition: 0.3s;
        background-color: #ffffff;
        color: #6a8d7c;
        text-decoration: none;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color and text
     of the dropdown button when the dropdown
     content is shown */
    .dropdown:hover .dropbtn {
        color: white;
        display: block;
        border-radius: 10px;
        background-color: #7a9e8d;
        border: 1px solid #597f6c;
        transition: 0.5s ease-in-out;
    }
}

/* very big screens */
@media (min-width: 992px) and (max-width: 835px) {

    .navigation {
        margin: 10px;
    }

    #header-nav {
        height: 230px;
    }

    #rest-text {
        margin-top: 7px;
    }
}

/* menu page styles */

.category-tile {
    position: relative;
    border-radius: 10px;
    border: 1px solid #ececec;
    overflow: hidden;
    width: 250px;
    height: 150px;
    margin: 0 auto 25px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #131313;
    color: #fff;
    opacity: .7;
}

.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}


/* text hover over food photos */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e8e8e8;
    text-align: center;
}

.category-tile:hover .overlay {
    opacity: 1;
    text-align: center;
}

.overlay-text {
    text-align: center;
    color: #a8a8a8;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}